.a4{
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
    background: white;
    box-sizing: border-box;
}

.paper1 .text-center{
    text-align: center;
}

.paper1 .text-end{
    text-align: end;
}

.paper1 .signed{
    margin-left: 280pt;
    text-align: center;
    margin-top: 20px;
}

.savingTable table, .billWelfare table, .billPayment table{
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    font-size: .9em;
    border: solid 1px;
    width: 100%;
}

.savingTable th, .billWelfare th, .billPayment th{
    border: 1px solid black;
    padding: 5px;
}

.savingTable thead, .billWelfare thead, .billPayment thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border: 1px solid;
}

.savingTable td, .billWelfare td, .billPayment td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.billWelfare .order, .billPayment .order{
    width: 50pt;
}

.billWelfare .amount1, .billPayment .amount1{
    width: 80pt;
}

.billWelfare .amount2, .billPayment .amount2{
    width: 30pt;
}

.billPayment tr{
    height: 25pt;
}

.box .list{
    border-style: solid;
    border-width: thin;
    width: 15pt;
}

.box{
    display: flex;
    flex-direction: row;
}

.left{
    width: 95pt;
}

.welfare-list{
    display: flex;
    align-items: center;
    gap: 10pt;
    margin: 10pt;
}

.welfare-name{
    width: 50%;
}